@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Great+Vibes&display=swap');

body {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  width: 100%;
}

header {
  height: 100%;
}

          /* INICIO */

.fundo-geral {
  background-image: linear-gradient(to bottom,#e3bec5 19%, #283040 40%, #e3bec5 60%, #283040 80%, #e3bec5 100%);
  position: relative;
}

.menu {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  padding: .5em;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 3px  solid #283040;
  background-color: #e3bec5;
  z-index: 1000;
}

.menu a {
  text-decoration: none;
  font-size: 1.5em;
  transition: .8s;
  color: #283040;
  font-family: 'Antic Didone', 'montserrat', Arial, Helvetica, sans-serif;
}

a:hover {
  transform: scale(1.2, 1.2);
  text-decoration: underline;
  text-decoration-color: #283040;
}

#inicio-link {
  display: none;
}

.botao-whatsapp {
  display: block;
  position: fixed;
  width: 50px;
  height: auto;
  top: 80%;
  left: 94%;
  z-index: 1;
}

.botao-whatsapp:hover {
  transform: scale(1.2, 1.2);
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
      opacity: .5;
  }
}

.inicio {
  position: relative;
  background-image: linear-gradient(to bottom, transparent 40%, #e3bec5), url('./img/pe.jpg');
  scroll-margin-top: 80px;
  background-position: 45% 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 0;
  height: 100vh;
}

.inicio h3 {
  margin-top: 1em;
}

.central {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.central > h2, h3, h4 {
  color: #283040;
  border-radius: 15px;
}

.central > .nome, .sobrenome {
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
  padding: .2em;
}

.central > h3 {
  font-weight: bold;
  color: #283040;
  line-height: 1;
  font-size: 1.800em;
  font-family: 'Antic Didone', 'montserrat', Arial, Helvetica, sans-serif;
}

.central > h4 {
  font-weight: bold;
  color: #283040;
  line-height: 1;
  font-size: 1.800em;
  margin: 0;
  font-family: 'Antic Didone', 'montserrat', Arial, Helvetica, sans-serif;
}

.nome {
  margin-top: .5em;
  margin-bottom: 0;
  line-height: 1;
  letter-spacing: 20px;
  font-size: 5em;
  font-family: 'cinzel', 'montserrat', Arial, Helvetica, sans-serif;
}

.sobrenome {
  line-height: 1;
  letter-spacing: 20px;
  font-size: 5em;
  font-family: 'cinzel', 'montserrat', Arial, Helvetica, sans-serif;
  margin-bottom: 1em;
  margin-top: 0;
}

.entre-em-contato {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 0 0 0;
}

.botao-contato {
  font-family: 'Antic Didone', 'montserrat', Arial, Helvetica, sans-serif;
  display: inline-block;
  text-decoration: none;
  text-decoration-color: none;
  font-size: 1.5em;
  background-color: #e3bec5;
  color: #283040;
  border-radius: 1em;
  padding: 1em;
  text-transform: uppercase;
  transition: background-color 1s ease;
}

.botao-contato:hover {
  transform: scale(1.1 , 1.1);
  text-decoration: none;
  color: #e3bec5;
  background-color: #283040;
}


          /* SOBRE */


.sobre {
  scroll-margin-top: 70px;
  text-align: center;
  margin: 0 5em 0 5em;
  padding: 0.5em 1em 3em 1em;
  height: 100%;
  background-image: url(./img/foto-fundo-1.png);
  background-size: cover;
  background-position: center;
  border-radius: 2em;
}

.titulo-section {
  font-size: 2em;   /*padrão */
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-top: 1em;
  font-family: 'Antic Didone', 'montserrat', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.sub-titulo-section {
  font-size: 1.7em;   /*padrão */
  margin-bottom: 1em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #fff;
  font-family: 'Antic Didone', 'montserrat', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.fundo-retangulo-sobre {
  text-align: center;
  height: auto;
  background-image: linear-gradient(to bottom, rgba(227, 190, 197, 0.500) 40%, rgba(194, 230, 219, 0.500) 70%);
  padding: 1em;
  margin: 2em 5em 0 5em;
  border-radius: 1.5em;
  color: #283040;
  font-size: 1.5em;
  font-weight: 600 ;
  font-family: 'Antic Didone', 'montserrat', Arial, Helvetica, sans-serif;
}

.fundo-retangulo-sobre p {
  text-align: center;
}

.fundo-retangulo-sobre h3 {
  text-decoration: underline;
}


          /* DICAS */

.dicas {
  scroll-margin-top: 70px;
  text-align: center;
  margin: 0 5em 0 5em;
  padding: 0.5em 1em 3em 1em;
  height: 100%;
  background-image: url(./img/foto-fundo-1.png);
  background-size: cover;
  background-position: center;
  border-radius: 2em;
}

.titulo-section-dicas {
  font-size: 2em;   /*padrão */
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-top: 1em;
  font-family: 'Antic Didone', 'montserrat', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.sub-titulo-section-dicas {
  font-size: 1.7em;   /*padrão */
  margin-bottom: 1em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #fff;
  font-family: 'Antic Didone', 'montserrat', Arial, Helvetica, sans-serif;
  font-weight: 600;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px ;
  padding: 20px;
  margin: 2em 5em 0 5em;
  grid-auto-flow: row;
}

.grid-container > .cards {
  padding: 1em;
  background-image: linear-gradient(to bottom, rgba(227, 190, 197, 0.700) 40%, rgba(194, 230, 219, 0.700) 70%);
  text-align: center;
  border-radius: .5em;
  transform: rotate(-3deg);
  font-family: 'Antic Didone', 'montserrat', Arial, Helvetica, sans-serif;
  border-top-left-radius: 3em;
  border-bottom-right-radius: 3em;
  height: auto;
}

.grid-container > .cards1 {
  padding: 1em;
  background-image: linear-gradient(to bottom, rgba(227, 190, 197, 0.700) 40%, rgba(194, 230, 219, 0.700) 70%);
  text-align: center;
  border-radius: .5em;
  transform: rotate(3deg);
  font-family: 'Antic Didone', 'montserrat', Arial, Helvetica, sans-serif;
  border-top-left-radius: 3em;
  border-bottom-right-radius: 3em;
  height: auto;
}

.grid-container > .cards::after{
  content: "";
  background-color: #7987a4;
  border-radius: 999px;
  transform: rotate(-45deg);
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 0.25rem;
  right: 1rem;
}

.grid-container > .cards1::after{
  content: "";
  background-color: #7987a4;
  border-radius: 999px;
  transform: rotate(-45deg);
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 0.25rem;
  right: 1rem;
}

.cards:hover, .cards1:hover { 
  cursor: pointer;
}

.grid-container h2{
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-weight: bolder;
}

.grid-container p {
  color: #283040;
  font-size: 17px;
  font-weight: 600;
}

.cards:hover, .cards1:hover {
  transform: rotate(0);
}

          /* CONTATOS */

.contato {
  scroll-margin-top: 70px;
  text-align: center;
  margin: 0 5em 0 5em;
  padding: 0.5em 1em 3em 1em;
  height: 100%;
  background-image: url(./img/foto-fundo-1.png);
  background-size: cover;
  background-position: center;
  border-radius: 2em;
}

/* .fundo-retangulo-contato {
  margin: 1em auto;
  height: 60%;
  padding: 1em 0 3em;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, rgba(227, 190, 197, 0.700) 40%, rgba(194, 230, 219, 0.700) 70%);
  border-radius: .5em;
  border-top-left-radius: 3em;
  border-bottom-right-radius: 3em;
}

.fundo-retangulo-contato img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 5px solid #e3bec5;
  align-items: center;
}

.foto-final:hover {
  border: 5px solid #283040;
  transform: scale(1.02);
}

.nome-contato {
  font-weight: 400;
  font-size: 3em;
  color: #283040;
  margin: 1em 0 0 0;
  font-family: 'Great Vibes', 'montserrat', Arial, Helvetica, sans-serif;
}

.sobrenome-contato {
  margin: 0;
  color: #283040;
  font-size: 3em;
  font-weight: 400;
  font-family: 'Great Vibes', 'montserrat', Arial, Helvetica, sans-serif;
} */


.icones {
  margin: 1em auto;
  height: 60%;
  padding: 1em 0 3em;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, rgba(227, 190, 197, 0.700) 40%, rgba(194, 230, 219, 0.700) 70%);
  border-radius: .5em;
  border-top-left-radius: 3em;
  border-bottom-right-radius: 3em;
}

.icones div {
  background-color:  rgba(227, 191, 197, 0.5) ;
  margin: 20px 50px 0 50px;
  border-radius: .75em;
  padding: 1em;
  width: 60%;
  align-content: center;
  position: relative;
}

.icone-contato {
  padding: 0;
  margin: 0;
  width: 22px;
  height: auto;
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: end;
  left: 5%;
}


.icones a {
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
  font-weight: 600;
}

.icones > .titulo-section {
  font-size: 2em;   /*padrão */
  text-transform: uppercase;
  text-align: center;
  color: #283040;
  margin-top: 0;
  margin-bottom: 1em;
  font-family: 'Antic Didone', 'montserrat', Arial, Helvetica, sans-serif;
}

.endereco {
  margin: 1em auto;
  height: 60%;
  padding: 1em 0 3em;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, rgba(227, 190, 197, 0.700) 40%, rgba(194, 230, 219, 0.700) 70%);
  border-radius: .5em;
  border-top-left-radius: 3em;
  border-bottom-right-radius: 3em;
}

.endereco > .titulo-section {
  font-size: 2em;   /*padrão */
  text-transform: uppercase;
  text-align: center;
  color: #283040;
  margin-top: 0;
  margin-bottom: 1em;
  font-family: 'Antic Didone', 'montserrat', Arial, Helvetica, sans-serif;
}

.endereco > .mapa {
  border-radius: .5em;
  margin: 0 auto;
  width: 400px;
  height: 300px;
}

.endereco p a {
  color: inherit;
  text-decoration: underline;
  font-family: 'Antic Didone', 'montserrat', Arial, Helvetica, sans-serif;
}

.endereco p {
    margin-top: 1em;
    text-align: center;
    color: #283040;
    font-family: 'Antic Didone', 'montserrat', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.imagem-logo {
    display: block;
    text-align: center;
}

.logo {
    width: 200px;
    height: auto;
    margin: 3em 0;
    mix-blend-mode: difference
}

.rodape {
  border-top: 1px dashed  #F4F4F9;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  color: #283040;
  font-family: 'Antic Didone', 'montserrat', Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.rede-social-rodape {
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp {
  width: 19px;
  height: 19px;
  margin: 0 20px 0 0;
  padding: 0;
}

.telefone {
  width: 22px;
  height: 22px;
  margin: 0 20px 0 0;
  padding: 0;
}

.instagram {
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
}

.crm {
  text-transform: uppercase;
  text-decoration: underline;
}

.rodape a {
  text-decoration: underline;
  color: inherit;
  font-family: 'Antic Didone', 'montserrat', Arial, Helvetica, sans-serif;
}

.rodape p:nth-child(5) {
  font-size: .9em;
  font-family: 'Antic Didone', 'montserrat', Arial, Helvetica, sans-serif;
}
